@tailwind base;
@tailwind components;
@tailwind utilities;

.backgound-primary{
    background-color: #222;
}
.secondary-color{
    color:#0f79af
}
.backgound-secundary{
    background-color: #1A1818;
}